#psb_header_footer_action label select,
#psb_header_footer_action label{
  display: block;
  margin-bottom: 10px;;
}
#psb_header_footer_action_show_on_label {
  vertical-align: baseline;
  font-weight: 600;
}
#menu-posts-psb_block,
#menu-posts-psb_nested,
#menu-posts-psb_header_footer{
  display: none;
}